{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}

<header>
  <h1>Welcome to Scholarum</h1>
  <p>Your Academic Companion</p>
</header>
    


<nav>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</nav>
    
<section class="content">
  <h2>About Scholarum</h2>
  <p>Scholarum is the ultimate grade management system designed to make academic life easier for high school students. Keep track of your grades, assignments, and more, all in one place!</p>
</section>

<footer>
  &copy; 2023 Scholarum - All rights reserved
</footer>

{% endblock %}