{% extends "base.html" %} 
{% block title %}Register{% endblock %} 
{% block content%}
<h1 align="center">Register for Scholarum</h1>
    
<form method="post" action="/register">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required>
  </div>
  <br>   
  
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required>
  </div>
  <br>
  
  <div class="form-group">
    <label for="password_confirm">Confirm Password:</label>
    <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="Confirm password" required><br>
  </div>
  
  <div align="center">
    <button type="submit" class="btn btn-primary">Register</button>
  </div>
</form>

<br>

<p>Already have an account? 
  <a href="/login">Login</a>
</p>
{% endblock %}