<!-- home.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Notenübersicht</h1>

{% for subject in subjects %}
  <h3>{{ subject.name }}</h3>
  <ul class="list-group list-group-flush" id="grades">
    {% for grade in subject.grades %}
    <li class="list-group-item">
      {{ grade.data }}
      <button type="button" class="close" onClick="deleteGrade({{ grade.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
{% endfor %}

<form method="POST">
  <label for="subject">Subject:</label>
  <select name="subject" id="subject" class="form-control">
    <option value="" disabled selected>Select or add a subject</option>
    {% for subject in subjects %}
      <option value="{{ subject.id }}">{{ subject.name }}</option>
    {% endfor %}
    <option value="new">Add a new subject</option>
  </select>
  <br />

  <!-- Add an input field for new subjects -->
  <div id="newSubjectInput" style="display: none;">
    <label for="newSubject">New Subject:</label>
    <input type="text" name="newSubject" id="newSubject" class="form-control">
    <br />
  </div>

  <label for="grade">Grade:</label>
  <textarea name="grade" id="grade" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Note hinzufügen</button>
  </div>
</form>

<script>
  // Add JavaScript to show/hide the new subject input field
  document.getElementById('subject').addEventListener('change', function () {
    var newSubjectInput = document.getElementById('newSubjectInput');
    newSubjectInput.style.display = this.value === 'new' ? 'block' : 'none';
  });
</script>

<form action="{{ url_for('views.generate_pdf') }}" method="get">
  <div align="center">
      <button type="submit" class="btn btn-success">Leistungsnachweis erstellen</button>
  </div>
</form>
{% endblock %}